@model IEnumerable<Music_Store.Models.Song>

@{
    ViewData["Title"] = "Index";
}

<h1><b>Âm nhạc của cuộc sống</b></h1>


<br />
<body>

    <div class="row">
        <table class="table" border="1">
            <tbody>
                @foreach (var item in Model)
                {

                    <div class="col-md-3">
                        <a href="#">
                            <img src="http://webcoban.vn/image/flower.gif" />
                        </a>
                        <div><b>SongName: </b> @item.SongName</div>
                        <div><b>Price: @item.Price</b></div>
                        <div><b>Title: </b>@item.Titel</div>
                    </div>
                }
            </tbody>

        </table>


    </div>
</body>
